.json {
  &__value {
    align-self: flex-end;
    align-items: flex-end;
    min-height 70px;
    flex: 1;
    text-align center;
    justify-content: center;
    flex-direction column;
    margin-top 30px;
    font-size 60px;
    line-height 30px;
    display block;
    width 100%;
    margin-bottom 9px;
  }
}

.icon {
  min-height 120px;
  text-align center;
  font-size 150px;
  line-height 30px;
  width 100%;
}